

    <% content_for :title, "Myapp | Actor " + @actor_id.to_s %>
    <h1>Actor <%= @actor_id %></h1>
    <img src="<%= @actor_image[:src] %>" alt="<%= @actor_image[:alt] %>" title="<%= @actor_image[:alt] %>" width="150px">
    <p> <b>Name:</b> <%= @actor.name %></p>
    <p> <b>Gender:</b> <%= @actor.gender %></p>


    <br>

    <a href="/actors/<%= @previous_index%>"> < Предыдущий </a>
    <a href="/actors/<%= @next_index%>"> Следующй > </a>
    <br>

    <% @ids.each do |id| %>
        <% if (id == @current_index) %>
           <b>
        <% end %>

        <a href="/actors/<%= id %>"> <%= id %></a>

        <% if(id == @current_index)  %>
          </b>
       <% end %>
    <% end %>



    <br>
    <a href="/actors/"> Все актеры</a>
